{% extends 'base.html' %}

{% block title %}
<h2 class="mt-4">Add New Medicine</h2>
{% endblock %}

{% block content %}
<div class="container my-4">
    <hr>
    <form method="POST" action="{% url 'add_medicine' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_MedicineName" class="form-label">Medicine Name</label>
            <input type="text" class="form-control" id="id_MedicineName" name="MedicineName" required>
        </div>
        <div class="mb-3">
            <label for="id_Brand" class="form-label">Brand</label>
            <input type="text" class="form-control" id="id_Brand" name="Brand" required>
        </div>
        <div class="mb-3">
            <label for="id_Instructions" class="form-label">Instructions</label>
            <input type="text" class="form-control" id="id_Instructions" name="Instructions" required>
        </div>
        <div class="mb-3">
            <label for="id_DefaultDosage" class="form-label">Default Dosage</label>
            <input type="text" class="form-control" id="id_DefaultDosage" name="DefaultDosage" required>
        </div>
        <div class="mb-3">
            <label for="id_Price" class="form-label">Price</label>
            <input type="number" step="0.01" class="form-control" id="id_Price" name="Price" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Medicine</button>
    </form>
</div>
{% endblock %}
