{% extends 'base.html' %}

{% block title %}
<h2 class="mt-4">Add New Coverage Policy</h2>
{% endblock %}

{% block content %}
<div class="container my-4">
    <hr>
    <form method="POST" action="{% url 'add_coverage_policy' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_InsuranceID" class="form-label">Insurance ID</label>
            <input type="text" class="form-control" id="id_InsuranceID" name="InsuranceID" required>
        </div>
        <div class="mb-3">
            <label for="id_CoveragePercentage" class="form-label">Coverage Percentage</label>
            <input type="text" class="form-control" id="id_CoveragePercentage" name="CoveragePercentage" required>
        </div>
        <div class="mb-3">
            <label for="id_MaxCoverageAmount" class="form-label">Max Coverage Amount</label>
            <input type="text" class="form-control" id="id_MaxCoverageAmount" name="MaxCoverageAmount" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Coverage Policy</button>
    </form>
</div>
{% endblock %}
