{% extends 'base.html' %}

{% block title %}
<h2 class="mt-4">Add New Doctor</h2>
{% endblock %}

{% block content %}
<div class="container my-4">
    <hr>
    <form method="POST" action="{% url 'add_doctor' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_Name" class="form-label">Name</label>
            <input type="text" class="form-control" id="id_Name" name="Name" required>
        </div>
        <div class="mb-3">
            <label for="id_Phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="id_Phone" name="Phone" required>
        </div>
        <div class="mb-3">
            <label for="id_Email" class="form-label">Email</label>
            <input type="email" class="form-control" id="id_Email" name="Email" required>
        </div>
        <div class="mb-3">
            <label for="id_Birthdate" class="form-label">Birthdate</label>
            <input type="date" class="form-control" id="id_Birthdate" name="Birthdate" required>
        </div>
        <div class="mb-3">
            <label for="id_Specialization" class="form-label">Specialization</label>
            <input type="text" class="form-control" id="id_Specialization" name="Specialization" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Doctor</button>
    </form>
</div>
{% endblock %}
