{% extends 'base.html' %}

{% block title %}
<h2 class="mt-4">Add New Medical Record</h2>
{% endblock %}

{% block content %}
<div class="container my-4">
    <hr>
    <form method="POST" action="{% url 'add_medical_record' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_PatientID" class="form-label">Patient ID</label>
            <input type="text" class="form-control" id="id_PatientID" name="PatientID" required>
        </div>
        <div class="mb-3">
            <label for="id_DoctorID" class="form-label">Doctor ID</label>
            <input type="text" class="form-control" id="id_DoctorID" name="DoctorID" required>
        </div>
        <div class="mb-3">
            <label for="id_DiseaseID" class="form-label">Disease ID</label>
            <input type="text" class="form-control" id="id_DiseaseID" name="DiseaseID" required>
        </div>
        <div class="mb-3">
            <label for="id_VisitReason" class="form-label">Visit Reason</label>
            <input type="text" class="form-control" id="id_VisitReason" name="VisitReason" required>
        </div>
        <div class="mb-3">
            <label for="id_Summary" class="form-label">Summary</label>
            <textarea class="form-control" id="id_Summary" name="Summary" required></textarea>
        </div>
        <div class="mb-3">
            <label for="id_Status" class="form-label">Status</label>
            <input type="text" class="form-control" id="id_Status" name="Status" required>
        </div>
        <div class="mb-3">
            <label for="id_DateVisit" class="form-label">Date of Visit</label>
            <input type="date" class="form-control" id="id_DateVisit" name="DateVisit" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Medical Record</button>
    </form>
</div>
{% endblock %}
