{% extends 'base.html' %}

{% block title %}
<h2 class="mt-4">Add New Disease</h2>
{% endblock %}

{% block content %}
<div class="container my-4">
    <hr>
    <form method="POST" action="{% url 'add_disease' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_Name" class="form-label">Disease Name</label>
            <input type="text" class="form-control" id="id_Name" name="Name" required>
        </div>
        <div class="mb-3">
            <label for="id_Description" class="form-label">Description</label>
            <textarea class="form-control" id="id_Description" name="Description" required></textarea>
        </div>
        <div class="mb-3">
            <label for="id_TreatmentID" class="form-label">Treatment ID</label>
            <input type="text" class="form-control" id="id_TreatmentID" name="TreatmentID" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Disease</button>
    </form>
</div>
{% endblock %}
