{% extends 'base.html' %}

{% block title %}
<h2 class="mt-4">Add New Insurance</h2>
{% endblock %}

{% block content %}
<div class="container my-4">
    <hr>
    <form method="POST" action="{% url 'add_insurance' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_PatientID" class="form-label">Patient ID</label>
            <input type="text" class="form-control" id="id_PatientID" name="PatientID" required>
        </div>
        <div class="mb-3">
            <label for="id_Provider" class="form-label">Provider</label>
            <input type="text" class="form-control" id="id_Provider" name="Provider" required>
        </div>
        <div class="mb-3">
            <label for="id_CoverageAmount" class="form-label">Coverage Amount</label>
            <input type="text" class="form-control" id="id_CoverageAmount" name="CoverageAmount" required>
        </div>
        <div class="mb-3">
            <label for="id_ExpireDate" class="form-label">Expire Date</label>
            <input type="date" class="form-control" id="id_ExpireDate" name="ExpireDate" required>
        </div>
        <div class="mb-3">
            <label for="id_Type" class="form-label">Type</label>
            <input type="text" class="form-control" id="id_Type" name="Type" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Insurance</button>
    </form>
</div>
{% endblock %}
