{% extends 'base.html' %}

{% block title %}
<h2 class="mt-4">Doctor List</h2>
{% endblock %}

{% block content %}
{% load static %}

<body>
    <div class="container my-4">
        <hr>
        <a href="{% url 'add_doctor' %}" class="btn btn-primary mb-3">
        Add Doctor
        </a>
        <table id="doctorsTable" class="table table-striped table-bordered display nowrap" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th>Doctor ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Birthdate</th>
                    <th>Specialization</th>
                </tr>
            </thead>
            <tbody>
                {% for doctor in doctors %}
                <tr>
                    <td>{{ doctor.DoctorID }}</td>
                    <td>{{ doctor.Name }}</td>
                    <td>{{ doctor.Phone }}</td>
                    <td>{{ doctor.Email }}</td>
                    <td>{{ doctor.Birthdate }}</td>
                    <td>{{ doctor.Specialization }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#doctorsTable').DataTable({
                responsive: true,
                scrollX: true
            });
        });
    </script>
</body>
{% endblock %}
