{% extends 'base.html' %}

{% block title %}
<h2 class="mt-4">Medical Record List</h2>
{% endblock %}

{% block content %}
{% load static %}

<body>
    <div class="container my-4">
        <hr>
        <a href="{% url 'add_medical_record' %}" class="btn btn-primary mb-3">
        Add Medical Record
        </a>
        <table id="medicalRecordsTable" class="table table-striped table-bordered display nowrap" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th>Medical Record ID</th>
                    <th>Patient ID</th>
                    <th>Doctor ID</th>
                    <th>Disease ID</th>
                    <th>Visit Reason</th>
                    <th>Summary</th>
                    <th>Date of Visit</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for record in medical_records %}
                <tr>
                    <td>{{ record.MedicalRecordID }}</td>
                    <td>{{ record.PatientID.PatientID }}</td>
                    <td>{{ record.DoctorID.DoctorID }}</td>
                    <td>{{ record.DiseaseID.DiseaseID }}</td>
                    <td>{{ record.VisitReason }}</td>
                    <td>{{ record.Summary }}</td>
                    <td>{{ record.DateVisit }}</td>
                    <td>{{ record.Status }}</td>
                    <td>
                        <form action="{% url 'delete_medical_record' record.MedicalRecordID %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                        <a href="{% url 'edit_medical_record' record.MedicalRecordID %}" class="btn btn-warning btn-sm">
                            Edit
                        </a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#medicalRecordsTable').DataTable({
                responsive: true,
                scrollX: true
            });
        });
    </script>
</body>
{% endblock %}
